
body{
  background-color: #f3e5f5;
}

.inputText {
  background-color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: none;
  margin:2em;
  padding:1em;
  border-radius: 15px;
}

.buttonClean {
background-color: #d1c4e9;
font-size: 1em;
margin:2em;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
color: white;
padding:1em;
border-radius: 15px;

}